.idea
my-log.iml
lib_managed
out
project/boot
project/build/target
project/plugins/target
project/plugins/lib_managed
project/plugins/project
project/plugins/src_managed
target
tests/target
.classpath
.project
.scala_dependencies
.settings
default.properties